/*
**********
RESET
**********
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/*
**********
COMMON
**********
*/

.container{
    margin: 0px auto;
    max-width: 1150px;
}

.container2{
    margin: 30px auto;
    max-width: 1050px;
    display: flex;
    justify-content: space-between;
}

li{
   list-style-type: none; 
}

.photow{
    width: 45%;
}

.text-center{
    text-align: center;
    padding: 20px 0px;
}

.btn{
    border-radius: 20px;
    border: none;
}

.distance{
    padding: 0px 20px;
    position: relative;
    left: 0;
    top: .3125rem;
}

.t-blue{
    color: #0084fd;
    font-size: 24px;
    font-weight: bolder;
}

.mtop{
    margin-top: 10px;
    padding: 20px 0px;
    font-size: 18px;
}

.m-bot{
    margin-bottom: 4.375rem;
}

.bg-white .n-card{
    font-size:72px;
    font-weight: bold;
}

.bg-white p{
    color: black;
    margin: 20px 0px;
}

.bg-white h3{
    font-size:24px;
    font-weight: bold;
}

.lightblue{
    background-color: #b5ddff;
}

.lightp{
    color: #9792e4;
}

.t-white{
    color: white;
}

.bg-white{
    background-color: white;
    padding: 20px 10px;
}

.yellow{
    color: yellow;
    font-size: 96px;
    font-weight: bold;
}

/*
**********
HEADER
**********
*/

header{
    background-color: #0084fd;
    width: 100%;
}

.bar{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    width: 100%;
}

.list{
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}
.btnw{
    padding: 7px;
    border: none;
}

.logo{
    position: relative;
    left: 0;
    top: .3125rem;
}

.btn .header-icon:hover{
    cursor: pointer;
}
.distance a{
    text-decoration: none;
    
}

.header-icon{
    display: none;
    color: white;
}

/*
**********
MAIN
**********
*/

/*
Prima griglia
*/

.mbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0px .3125rem;
    margin: 50px 0px 70px 0px;
}

.mbox div{
    border-radius: 20px;
    /*padding: 10px 30px;*/
}

.big{
    width: 66%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.small{
    width: 32%;
    margin: 10px 0px;
    padding: 5px 20px;
}

.logo img{
    width: calc((100% / 3) * 2);
}

.btn-blue{
    background-color: #0084fd;
    color: white;
    padding: 10px 40px;
    margin-top: 10px;
}

.btn-blue span{
    padding-left: 5px;
    font-size: 18px;
    font-size: bold;
}

.left{
    width: 50%;
    padding: 10px 30px;
    margin: 60px 0px;
}

.right{
    width: 50%;
    /*position: relative;*/
}

.right img{
    width: 70%;
    /*position: absolute;
    bottom: -20px;
    right: 70px;*/
}

.small i{
    color: #0084fd;
    font-size: 60px;
    padding: 20px 0px;
}

/*
Section viola
*/

.purple{
    background-color:#9792e4;
}

.photow img{
    width: 100%;
}

.photow h3{
    margin-top: 2.5rem;
    padding: 25px 0px;
    font-size: 34px;
    font-weight: bold;
}

.photow p{
    font-size: 16px;
}

.gbox{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0px auto;
    max-width: 870px;
    padding: 0px 70px;
}

.gbox div{
    margin: 50px 0px;
}

.wbox{
    margin-top: 100px;
    width: 45%;
    background-color: white;
    border-radius: 20px;
    padding: 20px 10px;
    text-align: center;
}

.wbox h3{
    font-size: 24px;
    padding: 30px 0px;
}

.wbox p{
    font-size:18px;
    color: black;
    padding: 10px 10px;
}

.wbox img{
    width: 60%;
}

.wbox i{
    background-color: #9792e4;
    border-radius: 50%;
    padding: 10px 12px;
    margin-top: 20px;
}

/*
Section Partner
*/


.partner{
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 20px 0px;
    border-radius: 15px;
}

.text-center h2{
    font-size: 48px;
    padding-top: 20px;
}

.text-center p{
    font-size: 20px;
    padding-top: 20px;
    color: black;
}

.photo{
    width: 20%;
    margin-left: 10px;
    padding: 20px 10px;
    border-radius: 50%;
}
.photo img{
    width: 100%;
   
    
}

.phrase{
    width: 80%;
    margin: 30px 0px;
}

.phrase span{
    font-size: 20px;
    padding-left: 30px;
    font-weight: bold;
}

.paragraph i{
    padding: 0px 5px;
}

.paragraph{
    padding: 30px 30px 10px 30px;
    font-size: 20px;
    color: white
}

.phrase i, span{
    color: white;
}

/*
Section Seconda Griglia
*/

.purple .container{
    padding: 30px 0px;
}

.container h2{
    font-size: 48px;
}

.btn-p{
    background-color: #9792e4;
    text-align: center;
    color: white;
    padding: 10px 40px;
    margin: 20px 0px;
}
/*
Section About Us
*/

.big2{
    width: 69%;
}

.big2 p{
    color: black;
    padding: 30px 0px;
    font-size: 20px;
}

.big2 .n-card{
    font-size:72px;
    font-weight: bold;
}

.small2{
    width: 29%;
}

.small2 .photo{
    display:block;
}

.small2 p{
    font-size: 30px;
    font-weight: bold;
}

.reverse{
    background-color: white;
    color: #9792e4;
    margin-right: 5px;
}

.photo2{
    width: 60%;
    margin-left: 10px;
    padding: 20px 10px;
    border-radius: 50%
}

.marks{
    position: relative;
}
.marks i{
    position: absolute;
    top: 10px;
    right: 100px;
    color: #9792e4;
    font-size: 72px;
    font-weight: bold;
}
/*
Section get Started
*/

.free{
    margin: 0px auto;
    text-align: center;
    padding: 30px 0px;
    max-width: 550px;
}

.free h4{
    font-size: 18px;
}

.free h3{
    font-size: 48px;
    font-weight: bold;
}

.free .btn{
    padding: 20px 40px;
    margin: 20px 0px;
    background-color: white;
}

.underline{
    text-decoration: underline;
}

.fa-circle{
    font-size: 10px;
    padding: 0px 5px;
}

/*
Footer
*/

footer{
    background-color: #333333;
}

footer p{
    margin: 30px 0px;
}

.t-dec{
    color: #9792e4;
    text-decoration: underline;
}

/*
**********
RESPONSIVE
**********
*/

@media screen and (max-width: 768px){
    /*Utilities*/
    .header-icon{
    display: block;
    background-color: #0084fd;
    color: white;
    margin-right: 2px;
    border: none;
    font-size: 20px;
    }

    /*Header*/

    .list{
        display: none;
    }

    /*Main - Griglia 1*/

    .big{
        flex-direction: column;
        align-items: flex-start;
    }

    .left{
        width: 100%;

    }

    /*Main - sezione viola*/

    .gbox{
        flex-direction: column;
        align-items: center;
    }
}